- var bothMoreThanOne = text.size() > 1 && data.size() > 1

if text.size() > 0 || data.size() > 0
  .card.mb-4
    .card-header.bg-success.text-white #{id}
    .card-body

      if text.size() > 1
        if bothMoreThanOne
          h5.text-muted Text
        ul.list-group.mb-3
          each t in text
            - var safe = helpers.tryMakeSafe(t)
            if safe
              li.list-group-item !{safe}
            else
              li.list-group-item #{t}
      else if text.size() == 1
        - var safe = helpers.tryMakeSafe(text.get(0))
        if safe
          p.card-text !{safe}
        else
          p.card-text #{text.get(0)}

      if data.size() > 1
        if bothMoreThanOne
          h5.text-muted Data
        ul.list-group
          each d in data
            li.list-group-item
              pre.mb-0 #{helpers.jsonToString(d)}
      else if data.size() == 1
        pre.card-text #{helpers.jsonToString(data.get(0))}
