// --- Determine column headers ---
- var firstRow = null
if data != null && data.size() > 0
  - firstRow = data.get(0)

// --- Safe HTML cell renderer ---
mixin safeCell(val)
  - var safe = helpers.tryMakeSafe(val)
  if safe != null
    td !{safe}
  else if val != null
    td #{val}
  else
    td


table.table.table-hover.table-sm
  thead
    tr
      th(scope="col") #
      th(scope="col") Text
      if firstRow != null
        each entry in firstRow.entrySet()
          th(scope="col") #{entry.getKey()}

  tbody
    // --- Text rows (skip null/blank entries) ---
    if text != null
      - var textIdx = 0
      each t in text
        if helpers.isNotBlank(t)
          - textIdx = textIdx + 1
          tr
            td #{textIdx}
            +safeCell(t)
            if firstRow != null
              each entry in firstRow.entrySet()
                td

    // --- Data rows (skip rows where all values are null) ---
    if data != null
      - var dataIdx = 0
      each d in data
        - var shouldRender = firstRow == null || helpers.hasAnyValueForKeys(d, firstRow.keySet())
        if shouldRender
          - dataIdx = dataIdx + 1
          tr
            td #{dataIdx}
            td
            if firstRow != null
              each entry in firstRow.entrySet()
                - var key = entry.getKey()
                - var val = d.get(key)
                +safeCell(val)