// --- Determine column headers ---
- var firstRow = null
if data != null && data.size() > 0
  - firstRow = data.get(0)

// --- Safe HTML cell renderer ---
mixin safeCell(val)
  - var safe = helpers.tryMakeSafe(val)
  if safe != null
    td !{safe}
  else if val != null
    td #{val}
  else
    td


table.table.table-hover.table-sm
  thead
    tr
      th(scope="col") #
      th(scope="col") Text
      if firstRow != null
        each entry in firstRow.entrySet()
          th(scope="col") #{entry.getKey()}

  tbody
    // --- Text rows ---
    if text != null
      each t, idx in text
        tr
          td #{idx + 1}
          +safeCell(t)
          if firstRow != null
            each entry in firstRow.entrySet()
              td

    // --- Data rows ---
    if data != null
      each d, idx in data
        tr
          td #{idx + 1}
          td
          if firstRow != null
            each entry in firstRow.entrySet()
              - var key = entry.getKey()
              - var val = d.get(key)
              +safeCell(val)