table.table.table-hover.table-sm
  thead
    tr
      th(scope="col") #
      th(scope="col") Text
      if data.size() > 0
        each val, key in data.get(0)
          th(scope="col") #{key}

  tbody
    // --- Text rows ---
    each t, idx in text
      tr
        td #{idx + 1}
        - var safe = helpers.tryMakeSafe(t)
        if safe != safe
          td
        else if t != null
          td #{t}
        else
          td
        // Fill empty cells for data columns
        if data.size() > 0
          each val, key in data.get(0)
            td

    // --- Data rows ---
    each d, idx in data
      tr
        td #{idx + 1}
        td
        each val, key in d
          - var jsonSafe = helpers.jsonToString(val)
          if jsonSafe != jsonSafe
            td
          else
            td #{jsonSafe}