doctype html
html(lang='en')

	head
		title Result
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		style.
			pre {
				white-space: pre-wrap;
				margin: 0;
			}

			code {
				font-family: monospace;
			}

	body
		h1 Results
		if startTime
			p
				strong Start Time:
					samp #{startTime}
		else
			p
				strong Start Time:
					Not Available

		if startTime
			p
				strong End Time:
					samp #{endTime}
		else
			p
				strong End Time:
					Not Available

		each valueList, index in results
			h2 Step #{index + 1}
			ul
				each val in valueList
					li
						each item in val
							pre
								code
									| #{item}
		h1 Errors
		each valueList, index in errors
			h2 Step #{index + 1}
			ul
				each value in valueList
					li
						| #{value}

		h1 All Conversations:
			h2 Conversation
			if conversation
				pre
					ul
						each message in conversation
							li
								if message.user
									strong User:
								else
									strong Assistant:
								| #{message.message}

			else
				p No messages in this conversation.