doctype html
html(lang='en')

	head
		title Result
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		style(type="text/css").
				pre {white-space: pre-wrap}

	body
		h1 Results
		p
			strong Start Time:
				samp #{startTime}
		p
			strong End Time:
				samp #{endTime}

		pre
			ul
				each valueList, index in results
					h2 Step #{index + 1}
					ul
						each val in valueList
							li #{val}

		h1 All Conversations:
		pre
			ul
				each messageList, index in conversations
					h2 Conversation #{index + 1}
					ul
						each message in messageList
							li
								if message.user
									strong User:
								else
									strong Assistant:
								| #{message.message || ''}
