doctype html
html(lang='en')

	head
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		link(
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			onerror="this.onerror=null;this.href='Minty/bootstrap.min.css';"
		)


	body

		style.
			.pre {
				white-space: pre-wrap;
				margin: 0;
			}

			button[aria-expanded="true"] .rotate {
				transform: rotate(90deg);
				transition: transform 0.3s ease;
			}

		h1 Results
		if startTime
			p
				strong Start Time:
					samp #{startTime}
		else
			p
				strong Start Time:
					Not Available

		if startTime
			p
				strong End Time:
					samp #{endTime}
		else
			p
				strong End Time:
					Not Available

		each valueList, index in results
			h2 Step #{index + 1}
			ul
				each val, vIdx in valueList
					li
						each item, iIdx in val
							- var blockId = `targetBlock-${index}-${vIdx}-${iIdx}`;

							span.text-primary(
								onclick="(function(btn){ const div=btn.nextElementSibling; div.classList.toggle('show'); const arrow=btn.querySelector('.rotate'); arrow.classList.toggle('down'); })(this);"
							)
								| Show Details
								span.rotate.ms-2 ▸

							div.collapse.mt-3(id=blockId)
								.card.card-body
									p!= item

		h1 Errors
		each valueList, index in errors
			h2 Step #{index + 1}
			ul
				each value in valueList
					li
						| #{value}

		h1 All Conversations:
			h2 Conversation
			if conversation
				pre
					ul
						each message in conversation
							li
								if message.user
									strong User:
								else
									strong Assistant:
								p!= message.message

			else
				p No messages in this conversation.

		script(
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			onerror="this.onerror=null;this.src='Minty/bootstrap.bundle.min.js';"
		)
